<!--schema generator: https://www.jamesdflynn.com/json-ld-schema-generator/ -->
<!-- usage: http://searchengineland.com/schema-markup-structured-data-seo-opportunities-site-type-231077-->
<script type='application/ld+json'>
{
	"@context": "http://www.schema.org",
	"@type": "LocalBusiness",
	"name": "Schmitz Door Service, LLC",
	"url": "http://www.schmitzdoor.com/",
	"sameAs": [
		"https://www.facebook.com/SchmitzDoorService/"
	],
	"logo": "http://www.schmitzdoor.com/assets/css/images/schmitzdoor-logo-alt.png",
	"image": "http://www.schmitzdoor.com/assets/css/images/schmitzdoor-logo-alt.png",
	"description": "Servicing garage doors within the Madison, WI area for over 35 years.",
	"address": {
		"@type": "PostalAddress",
		"streetAddress": "6140 Cottonwood Dr #F",
		"addressLocality": "Fitchburg",
		"addressRegion": "WI",
		"postalCode": "53719",
		"addressCountry": "USA"
	},
	"geo": {
		"@type": "GeoCoordinates",
		"latitude": "43.013546",
		"longitude": "-89.469816"
	},
	"telephone": "+16082740880",
	"priceRange": "$$",
	"hasMap": "https://goo.gl/maps/tJjMS12sCby",
	"openingHours": "Mo, Tu, We, Th, Fr 07:00-19:00 Sa 08:00-13:00",
	"contactPoint": {
		"@type": "ContactPoint",
		"contactType": "Customer Service",
		"telephone": "+16082740880"
	}
}
</script>
<!-- footer div-->
<div class="row txt-center">
	<div id="footer-social" class="col-xs-12">
		<!--social-->
		<a href="https://www.facebook.com/SchmitzDoorService/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
		<!--<a href="" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
		<a href="" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>-->
		<a href="ma&#105;lto&#58;&#115;%6&#51;h&#37;6Dit&#37;7A&#100;o&#111;r&#64;&#103;m&#97;i&#37;&#54;&#67;&#46;%&#54;3om"><i class="fa fa-envelope" aria-hidden="true"></i></a>
		<!--end social-->
	</div>
	<div id="footer-catch-all" class="col-xs-12">
		<!--catch all nav-->
		<a href="{{ site.baseurl }}/services">Services</a>
		<a href="{{ site.baseurl }}/product">Products</a>
		<a href="{{ site.baseurl }}/faq">FAQ</a>
		<a href="{{ site.baseurl }}/contact-us">Contact Us</a>
		<!--end catch all nav-->
	</div>
	<div id="footer-contact-info" style="padding: 0px 10px">
		<a href="tel:+1-608-274-0880">+1-608-274-0880</a> <span style="color: #999">|</span></a>
		<a href="https://goo.gl/maps/a4Fq72inFHF2" target="_blank">
			<address class="txt-inherit">6140 Cottonwood Drive, Suite F, Fitchburg, WI 53719</address>
		</a>
	</div>
	<div id="footer-message" class="col-xs-12">
		<!--footer message-->
		<h2>Servicing garage doors within the Madison, WI area for over 35 years.</h2>
		<p><i class="fa fa-copyright"></i>
			<script type="text/javascript">
			document.write(new Date().getFullYear());
			</script> Schmitz Door Service LLC | All Rights Reserved</p>
		<!--end footer message-->
	</div>
</div>
<!--end footer div-->
<!-- defer of css via google pagespeed-->
<script async src="{{ site.baseurl }}/dist/js/min/schmitzdoor.min.js"></script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
