<meta name=viewport content="width=device-width, initial-scale=1">

<!--favicons from http://realfavicongenerator.net/-->

<link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{ site.baseurl }}/assets/css/images/favicons/apple-touch-icon.png" />
<link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/css/images/favicons/favicon-32x32.png" sizes="32x32" />
<link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/css/images/favicons/favicon-16x16.png" sizes="16x16" />
<link rel="icon" type="image/png" href="{{ site.baseurl }}/assets/css/images/favicons/favicon.ico" />
<meta name="msapplication-square150x150logo" content="{{ site.baseurl }}/assets/css/images/favicons/mstile-150x150.png" />

<!--end favicons test-->
<script>
</script>
<!-- async css-->
<link rel="preload" href="{{ site.baseurl }}/dist/css/min/schmitzdoor.min.css" as="style" onload="this.rel='stylesheet'">
<noscript>
	<link rel="stylesheet" href="{{ site.baseurl }}/dist/css/min/schmitzdoor.min.css">
</noscript>
<!--end async css-->
<!--<script>
var cb = function() {
	var l = document.createElement('link');
	l.rel = 'stylesheet';
	l.href = '{{ site.baseurl }}/dist/css/min/secondcrop.min.css';
	var h = document.getElementsByTagName('head')[0];
	h.parentNode.insertBefore(l, h);
};
var raf = requestAnimationFrame || mozRequestAnimationFrame || webkitRequestAnimationFrame || msRequestAnimationFrame;
if (raf) raf(cb);
else window.addEventListener('load', cb);
</script>-->
